@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bricolage+Grotesque:opsz,wght@10..48,600&family=Poppins:wght@500&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
.veg{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("home-images/home-2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    background: rgba(12,11,9,0.6);
    height:150px;
}
header h1{
    color:#fff;
    letter-spacing: 2px;
    text-align: center;
    padding:30px 0 20px 0;
    text-transform: uppercase;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
}

header nav ul li{
    list-style:none;
    padding:10px;
  
  }
  header nav ul:nth-child(8) a{
    color: red;
  }
 header nav ul li a{
      text-decoration:none;
      color:#ffff;
      font-size:13px;
      text-transform: uppercase;
      transition: 0.4s ease;
 }
 .cart{
    padding: 5px 30px;
    margin-left: 30px;
    border: 0;
    outline: 0;
   background-color: #CDA45E;
    color: black;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s ease-in;
 }
 .cart:hover{
    color:#CDA45E;
    background-color: transparent;
    border: 2px solid #CDA45E ;



 }
 .cart i{
    margin-left: 10px;
 }

 .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding:50px;
    margin:50px;
    border:2px solid #CDA45E;

 }

 .container .food-box{
   
        height:280px;
        width:160px;
        background:rgba(0,0,0,0.6);
        margin:30px;
        margin-top:-20px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border:2px solid #CDA45E;
    
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }
 .container .food-box img{
    height:100px;
    width:100px;
    background:#ddd;
    border-radius:50%;
    object-fit: cover;
    padding:5px;

}
.container .food-box h2{
    color:#CDA45E;
    font-size: 17px;
    font-weight: 500;
    padding-top:15px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container .food-box h3{
    color:#fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding:10px
}
.container .food-box .add-cart{
    padding: 7px 10px;
    margin: 10px;
    border:2px solid #CDA45E;
    outline: 0;
    background-color: transparent;
    color: #CDA45E;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in;
    cursor: pointer;

}


